/* Put your css in here */
body {
    text-align: center;
}

img {
    padding: 10px;
    border-color: #666666;
    border-width: 1px;
}

.box .wrap {
    height: 3em;
}

.col-md-6 {
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    color: #666666;
}

.modal-dialog {
    width: 750px;
}

.btn btn-primary {
    font-size:100%;
    
}
